@CHARSET "ISO-8859-1";
body
{
	background-color:grey;
	color:white;
}
h1
{
	text-align:center;
}

#mainPageh1{
	text-align:center;
}
#mainNav{
	width:200px;
	margin:0 auto;
	text-align:center;
}
#zzz
{
	height:100px;
	width:100px;
	margin: 0 auto;
}

iframe 
{
	border:0 none;
	margin-left:25%;
	padding:0;
	height:500px;
	width:700px;
	
}
#tips
{
	margin:0 auto;
	width:300px;
	text-align:center;
}

#jsalarmclock {
	font-weight: bold;
	font-size: 20px;
	text-align:center;
	width:500px;
	margin:0 auto;
}

#currentTime
{
}


#jsalarmclock div {
	margin-bottom: 0.8em;
}


#jsalarmclock span {
	margin-right: 5px;
}
#timePicker
{
	width:200px;
	margin: 0 auto;
}

#calcH1
{
	text-align:center;
}

#timesToPick
{
	width:200px;
	margin:0 auto;
}

#timeText{
	text-align:center;
	margin:0 auto;
}

#goodTime{
	background-color:lightgreen;
	width: 200px;
	
	margin:0 auto;
}
#okTime{
	background-color:#FFFF8C;
	width: 200px;
	text-align:center;
	margin:0 auto;
}
#badTime{
	background-color:#FF8C8C;
	width: 200px;
	text-align:center;
	margin:0 auto;
}
